/* roma css */

.ui-category-selector,
.ui-category-selector-list {
  background-color:#444444;
  border:1px solid #666666;
  color:#999999;
}

li.ui-category-selector-item:hover {
  background-color:#666666;
}

.ui-category-selector-selected-item {
  background-color:#777777;
}

.ui-category-selector-expandable-item {
  background-image:url(./../icons/expand_roma.png);
}

.ui-category-selector-collapsable-item {
  background-image:url(./../icons/collapse_roma.png);
}

li.ui-category-selector-item div.ui-category-selector-check {
  background-image:url(./../icons/check_notchecked_roma.png);
}
li.ui-category-selector-selected-item div.ui-category-selector-check {
  background-image:url(./../icons/check_checked_roma.png);
}

/* --- */
.ui-category-selector-name ul li.ui-category-selector-selected-cat {
  background:#666666;
  color:#999999;
  margin-top:1px;
  padding-top:1px;
}

.ui-error, input[type='text'].ui-error {
  background:#ff8080;
  border-color:#800000;
  color:#800000;
}

.ui-category-selector-arrow {
  background:none repeat scroll 0 0 #666666;
  border-color:#999999 #444444 #444444 #999999;
  color:#FF3363;
}

.ui-category-selector-arrow-active {
  border-color:#444444 #999999 #999999 #444444;
}
