/* for categorySelector plugin */
.ui-category-selector {
  cursor:default;
  padding:2px;
}

.ui-category-selector-status {
  margin:3px;
  padding-left:3px;
  float:right;
  font-size:8px;
}

.ui-category-selector-list {
  margin-top:-1px;
  cursor:default;
  font-size:14px;
  font-family:sans-serif;
}

.ui-category-selector-item {
  min-height:15px;
}

li.ui-category-selector-item div {
  margin:2px;
}

.ui-category-selector-expandable-item,
.ui-category-selector-collapsable-item {
  background: none no-repeat scroll 0px 0px;
}

.ui-category-selector-check {
  position:absolute;
  left:0px;
  width:15px;
  height:15px;
  background: none no-repeat scroll 0px 0px;
}

/* clear css */

.ui-category-selector-arrow {
  color:#005E89;
}

.ui-category-selector,
.ui-category-selector-list {
  background-color:#DDDDDD;
  border:1px solid #999999;
  color:#666666;
}

li.ui-category-selector-item:hover {
  background-color:#AAAAAA;
  color:#DDDDDD;
}

.ui-category-selector-selected-item {
  background-color:#999999;
  color:#DDDDDD;
}

.ui-category-selector-expandable-item {
  background-image:url(./../icons/expand_clear.png);
}

.ui-category-selector-collapsable-item {
  background-image:url(./../icons/collapse_clear.png);
}

li.ui-category-selector-item div.ui-category-selector-check {
  background-image:url(./../icons/check_notchecked_clear.png);
}
li.ui-category-selector-selected-item div.ui-category-selector-check {
  background-image:url(./../icons/check_checked_clear.png);
}
