/* clear css */

.ui-category-selector-arrow {
  color:#005E89;
}

.ui-category-selector,
.ui-category-selector-list {
  background-color:#DDDDDD;
  border:1px solid #999999;
  color:#666666;
}

li.ui-category-selector-item:hover {
  background-color:#AAAAAA;
  color:#DDDDDD;
}

.ui-category-selector-selected-item {
  background-color:#999999;
  color:#DDDDDD;
}

.ui-category-selector-expandable-item {
  background-image:url(./../icons/expand_clear.png);
}

.ui-category-selector-collapsable-item {
  background-image:url(./../icons/collapse_clear.png);
}

li.ui-category-selector-item div.ui-category-selector-check {
  background-image:url(./../icons/check_notchecked_clear.png);
}
li.ui-category-selector-selected-item div.ui-category-selector-check {
  background-image:url(./../icons/check_checked_clear.png);
}

/* --- */
.ui-category-selector-name ul li.ui-category-selector-selected-cat {
  background:#999999;
  color:#DDDDDD;
  margin-top:1px;
  padding-top:1px;
}

.ui-error, input[type='text'].ui-error {
  background:#ff8080;
  border-color:#800000;
  color:#800000;
}

.ui-category-selector-arrow {
  background:none repeat scroll 0 0 #999999;
  border-color:#DDDDDD #666666 #666666 #DDDDDD;
  color:#005E89;
}

.ui-category-selector-arrow-active {
  border-color:#666666 #DDDDDD #DDDDDD #666666;
}
