/* for dynamicTable plugin */
table.ui-dynamicTableHeader {
  border:1px solid #666666;
  border-bottom:none;
}

div.ui-dynamicTableContent {
  border:1px solid #666666;
}

table.ui-dynamicTableTotalRow {
  border:1px solid #666666;
  border-top:none;
}

thead.ui-dynamicTableHeader {
  background:#333333;
  color:#FF3366;
  font-weight:bold;
}

table.ui-dynamicTableContent tr:hover {
  background-color:#333333;
  cursor:normal;
}
div.ui-dynamicTableLoading {
  opacity:0.6;
  background:#111111;
}


div.ui-dynamicTableFilterButton-inactive,
div.ui-dynamicTableFilterButton-active,
div.ui-dynamicTableSortButton,
div.ui-dynamicTableGroupButton-inactive,
div.ui-dynamicTableGroupButton-active,
div.ui-dynamicTableFooter-saveButton {
  background-image:url(./../icons/buttons.png);
  background-repeat:no-repeat;
  background-color:transparent;
  border-width:0px;
  color: #FF7700;
  border-radius:2px;
}

div.ui-dynamicTableFilterButton-inactive:hover,
div.ui-dynamicTableFilterButton-active:hover,
div.ui-dynamicTableSortButton:hover,
div.ui-dynamicTableGroupButton-inactive:hover ,
div.ui-dynamicTableGroupButton-active:hover,
div.ui-dynamicTableFooter-saveButton:hover {
  background-color:#222222;
}

div.ui-dynamicTableFilterButton-inactive {
  background-position:-120px -15px;
}
div.ui-dynamicTableFilterButton-inactive:hover {
  background-position:-120px 0px;
}

div.ui-dynamicTableFilterButton-active {
  background-position:-135px -15px;
}
div.ui-dynamicTableFilterButton-active:hover {
  background-position:-135px 0px;
}

div.ui-dynamicTableSortButton {
  background-position:-105px -15px;
}
div.ui-dynamicTableSortButton:hover {
  background-position:-105px 0px;
}
/*
div.ui-dynamicTableGroupButton-active {
  background-position:-360px -15px;
}
div.ui-dynamicTableGroupButton-active:hover {
  background-position:-360px 0px;
}
div.ui-dynamicTableGroupButton-inactive {
  background-position:-345px -15px;
}
div.ui-dynamicTableGroupButton-inactive:hover {
  background-position:-345px 0px;
}
*/

/* group button => display/hide lines */
div.ui-dynamicTableGroupButton-active {
  background-position:-405px -15px;
}
div.ui-dynamicTableGroupButton-active:hover {
  background-position:-405px 0px;
}
div.ui-dynamicTableGroupButton-inactive {
  background-position:-390px -15px;
}
div.ui-dynamicTableGroupButton-inactive:hover {
  background-position:-390px 0px;
}



div.ui-dynamicTableFooter-saveButton {
  background-position:-375px -15px;
}
div.ui-dynamicTableFooter-saveButton:hover {
  background-position:-375px 0px;
}
