/* for dynamicTable plugin */
table.ui-dynamicTableHeader {
  border:1px solid #aaaaaa;
  border-bottom:none;
}

div.ui-dynamicTableContent {
  border:1px solid #aaaaaa;
}

table.ui-dynamicTableTotalRow {
  border:1px solid #aaaaaa;
  border-top:none;
}

thead.ui-dynamicTableHeader {
  background:#F1F1F1;
  color:#005e89;
  font-weight:bold;
}

table.ui-dynamicTableContent tr:hover {
  background-color:#f9f9f9;
  cursor:normal;
}
div.ui-dynamicTableLoading {
  opacity:0.6;
  background:#F9F9F9;
}


div.ui-dynamicTableFilterButton-inactive,
div.ui-dynamicTableFilterButton-active,
div.ui-dynamicTableSortButton,
div.ui-dynamicTableGroupButton-inactive,
div.ui-dynamicTableGroupButton-active,
div.ui-dynamicTableFooter-saveButton {
  background-image:url(./../icons/buttons.png);
  background-repeat:no-repeat;
  background-color:transparent;
  border-width:0px;
  color: #005e89;
  border-radius:2px;
}
/*
div.ui-dynamicTableFilterButton-inactive:hover,
div.ui-dynamicTableFilterButton-active:hover,
div.ui-dynamicTableSortButton:hover,
div.ui-dynamicTableGroupButton-inactive:hover,
div.ui-dynamicTableGroupButton-active:hover,
div.ui-dynamicTableFooter-saveButton:hover {
  background-color:#999999;
}
*/
div.ui-dynamicTableFilterButton-inactive {
  background-position:-120px -90px;
}
div.ui-dynamicTableFilterButton-inactive:hover {
  background-position:-120px -105px;
}

div.ui-dynamicTableFilterButton-active {
  background-position:-135px -90px;
}
div.ui-dynamicTableFilterButton-active:hover {
  background-position:-135px -105px;
}

div.ui-dynamicTableSortButton {
  background-position:-105px -90px;
}
div.ui-dynamicTableSortButton:hover {
  background-position:-105px -105px;
}
/*
div.ui-dynamicTableGroupButton-active {
  background-position:-360px -90px;
}
div.ui-dynamicTableGroupButton-active:hover {
  background-position:-360px -105px;
}
div.ui-dynamicTableGroupButton-inactive {
  background-position:-345px -90px;
}
div.ui-dynamicTableGroupButton-inactive:hover {
  background-position:-345px -105px;
}
*/

div.ui-dynamicTableGroupButton-active {
  background-position:-405px -90px;
}
div.ui-dynamicTableGroupButton-active:hover {
  background-position:-405px -105px;
}
div.ui-dynamicTableGroupButton-inactive {
  background-position:-390px -90px;
}
div.ui-dynamicTableGroupButton-inactive:hover {
  background-position:-390px -105px;
}


div.ui-dynamicTableFooter-saveButton {
  background-position:-375px -90px;
}
div.ui-dynamicTableFooter-saveButton:hover {
  background-position:-375px -105px;
}
