/* for dynamicTable plugin */
div.ui-dynamicTable {
  padding:8px;
}

table.ui-dynamicTableHeader,
table.ui-dynamicTableContent,
table.ui-dynamicTableTotalRow {
  width:100%;
  /* border-collapse: collapse; */
  border-spacing: 1px;
  padding:0;
  margin:0;
}

table.ui-dynamicTableContent {
  cursor:default;
}

div.ui-dynamicTableContent {
  overflow-y:auto;
}


tbody.ui-dynamicTableContent {
  width:100%;
}

thead.ui-dynamicTableHeader td,
table.ui-dynamicTableContent td,
table.ui-dynamicTableTotalRow td {
  padding:0 0 0 2px;
}

td.ui-dynamicTableSortColumn {
  width:15px;
}

table.ui-dynamicTableTotalRow {
  display:'none';
}

div.ui-dynamicTableFilterButton-inactive,
div.ui-dynamicTableFilterButton-active,
div.ui-dynamicTableSortButton,
div.ui-dynamicTableGroupButton-inactive,
div.ui-dynamicTableGroupButton-active,
div.ui-dynamicTableFooter-saveButton {
  float:right;
  width:14px;
  cursor:pointer;
  height: 14px;
  margin: 1px;
  padding: 0px;
}


div.ui-dynamicTableLoading {
  display:none;
  position:absolute;
  z-index:1000;
  margin: 1px;
}
div.ui-dynamicTableLoadingWorkInProgress {
  display:none;
  position:absolute;
  z-index:1000;
  margin: 1px;
  width:16px;
  height:16px;
  background:url(./../icons/processing.gif) no-repeat scroll 0 40px transparent;
}


div.ui-dynamicTableFooter {
  display:none;
  height:15px;
}
div.ui-dynamicTableFooter-nbItems {
  display:inline-block;
  margin-top: 2px;
}
div.ui-dynamicTableFooter-pagesNavigator {
  display:inline-block;
  float:right;
}
div.ui-dynamicTableFooter-saveButton {
  display:inline-block;
  float:left;
  margin-right:4px;
}
div.ui-dynamicTableFooter-saveButtonWait {
  display:inline-block;
  float:left;
  margin-right:4px;
  background:url(./../icons/processing.gif) no-repeat scroll 0 0 transparent;
  width:16px;
  height:16px;
}