/* for inputSortBox plugin */

/* list */
ul.ui-inputSortBox {
  padding:0;
  margin:0;
}
ul.ui-inputSortBox li {
  cursor: move;
  list-style: none outside none;
}

span.ui-inputSortBoxAsc, span.ui-inputSortBoxDesc {
  float:right;
  display:block;
  width:15px;
  min-height:15px;
  text-align:center;
  cursor:pointer;
}

/* dialog box */
.ui-inputDialogSortBox {
  text-align:justify;
}
.ui-inputDialogSortBox div.ui-dialog-titlebar {
  cursor:move;
}
.ui-inputDialogSortBox div.ui-dialog-buttonpane {
  text-align:left;
}
.ui-inputDialogSortBox div.ui-dialog-buttonpane button {
  border-style:solid;
  border-width:1px;
  cursor:pointer;
  font-weight:bold;
  margin-top:1px;
  text-align:center;
  display:inline-block;
}
.ui-inputDialogSortBox div.ui-dialog-content {
  margin:4px;
}
.ui-inputDialogSortBox a.ui-dialog-titlebar-close {
  display:inline-block;
  margin:0 4px;
  outline:none;
}

div.dialogColor {
  overflow:hidden;
}
