/* clear css */

.ui-inputList,
.ui-inputList-list {
  background:#DDDDDD;
  border:1px solid #999999;
  color:#666666;
}

.ui-inputList-arrow {
  border:0px;
  color:#FF7700;
  background-image:url(./../icons/buttons.png);
  background-repeat:no-repeat;
  background-position:-30px -90px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -khtml-border-radius:2px;
  border-radius:2px;
}
.ui-inputList-arrow:hover {
  background-position:-30px -105px;
  background-color:#999999;
}

li.ui-inputList-item:hover {
  background-color:#AAAAAA;
  color:#DDDDDD;
}

.ui-inputList-selected-item {
  background-color:#999999;
}

li.ui-inputList-item div.ui-inputList-check,
li.ui-inputList-selected-item div.ui-inputList-check {
  background-image:url(./../icons/buttons.png);
  background-repeat:no-repeat;
}

li.ui-inputList-item div.ui-inputList-check {
  background-position:-180px -90px;
}
li.ui-inputList-item:hover div.ui-inputList-check {
  background-position:-180px -105px;
}

li.ui-inputList-selected-item div.ui-inputList-check {
  background-position:-195px -90px;
}
li.ui-inputList-selected-item:hover div.ui-inputList-check {
  background-position:-195px -105px;
}



.ui-error, input[type='text'].ui-error {
  background:#ff8080;
  border-color:#800000;
  color:#800000;
}
