/* roma css */

.ui-inputTreeList,
.ui-inputTreeList-list {
  background-color:#444444;
  border:1px solid #666666;
  color:#999999;
}

li.ui-inputTreeList-item:hover {
  background-color:#666666;
}

.ui-inputTreeList-selected-item {
  background-color:#777777;
}

.ui-inputTreeList-arrow,
li.ui-inputTreeList-selected-item div.ui-inputTreeList-check,
li.ui-inputTreeList-item div.ui-inputTreeList-check,
li.ui-inputTreeList-expandable-item div.ui-inputTreeList-expand-item,
li.ui-inputTreeList-collapsable-item div.ui-inputTreeList-expand-item {
  background-image:url(./../icons/buttons.png);
  background-repeat:no-repeat;
  width:15px;
  height:15px;
}


li.ui-inputTreeList-selected-item div.ui-inputTreeList-check {
  background-position:-195px -15px;
}
li.ui-inputTreeList-unselected-item div.ui-inputTreeList-check {
  background-position:-180px -15px;
}
li.ui-inputTreeList-collapsable-item div.ui-inputTreeList-expand-item {
  background-position:-165px -15px;
}
li.ui-inputTreeList-expandable-item div.ui-inputTreeList-expand-item {
  background-position:-150px -15px;
}



/* --- */
.ui-inputTreeList-name ul li.ui-inputTreeList-selected-cat {
  background-color:#666666;
  color:#999999;
  margin-top:1px;
  padding-top:1px;
}

.ui-error, input[type='text'].ui-error {
  background:#ff8080;
  border-color:#800000;
  color:#800000;
}

.ui-inputTreeList-arrow {
  background-position:-30px -15px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -khtml-border-radius:2px;
  border-radius:2px;
  color:#FF7700;
  border:0px;
}
.ui-inputTreeList-arrow:hover {
  background-position:-30px 0px;
  background-color:#222222;
}
