
/* roma css */

.ui-inputNum {
  background:#444444;
  border:1px solid #666666;
  color:#999999;
}

div.ui-inputNum a.ui-slider-handle {
  background:#ff7700;
  border:1px solid #ff7700;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -khtml-border-radius:2px;
  border-radius:2px;
}
div.ui-inputNum a.ui-slider-handle:hover {
  background:#ff3363;
  border-color:#ff3363;
}

.ui-inputNum-btDec,
.ui-inputNum-btInc {
  background-image:url(./../icons/buttons.png);
  background-repeat:no-repeat;
  color:#ff7700;
  border:0px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -khtml-border-radius:2px;
  border-radius:2px;
}

.ui-inputNum-btDec {
  background-position:-225px -15px;
}
.ui-inputNum-btDec:hover {
  background-position:-225px 0px;
  background-color:#222222;
}

.ui-inputNum-btInc {
  background-position:-210px -15px;
}
.ui-inputNum-btInc:hover {
  background-position:-210px 0px;
  background-color:#222222;
}


div.ui-error div.ui-inputNum-btDec {
  background-position:-225px -75px;
}
div.ui-error div.ui-inputNum-btInc {
  background-position: -210px -75px;
}

div.ui-error div.ui-inputNum-btDec:hover,
div.ui-error div.ui-inputNum-btInc:hover {
  background-color:#EE4040;
}


.ui-error, input[type='text'].ui-error {
  background:#ff8080;
  border-color:#800000;
  color:#800000;
}

div.ui-inputNum div.ui-slider-horizontal {
  background:none repeat scroll 0 0 #666666;
}
