/* for inputFilterBox plugin */

/* interface */
div.ui-inputFilterBox-operatorBox {
  padding:4px;
  border-bottom: 1px solid;
}
div.ui-inputFilterBox-valueBox {
  padding:4px;
  display:none;
}
div.ui-inputFilterBox-numValue {
  width:133px;
}
div.ui-inputFilterBox-operator div.ui-inputList div.ui-inputList-value {
  height:16px;
}
div.ui-inputFilterBox-dateValue {
  width:150px;
}

/* dialog box */
.ui-inputDialogFilterBox {
  text-align:justify;
}
.ui-inputDialogFilterBox div.ui-dialog-titlebar {
  cursor:move;
}
.ui-inputDialogFilterBox div.ui-dialog-buttonpane {
  text-align:left;
}
.ui-inputDialogFilterBox div.ui-dialog-buttonpane button {
  border-style:solid;
  border-width:1px;
  cursor:pointer;
  font-weight:bold;
  margin-top:1px;
  text-align:center;
  display:inline-block;
}
.ui-inputDialogFilterBox div.ui-dialog-content {
  margin:0px;
}
.ui-inputDialogFilterBox a.ui-dialog-titlebar-close {
  display:inline-block;
  margin:0 4px;
  outline:none;
}

.ui-inputDialogFilterBox a.ui-dialog-titlebar-close:hover {
  border:none;
}

div.dialogColor {
  overflow:hidden;
}
