/* for pagesNavigator plugin - clear theme */

ul.ui-inputPages li.ui-inputPagesButton-first-inactive,
ul.ui-inputPages li.ui-inputPagesButton-previous-inactive,
ul.ui-inputPages li.ui-inputPagesButton-next-inactive,
ul.ui-inputPages li.ui-inputPagesButton-last-inactive,
ul.ui-inputPages li.ui-inputPagesButton-inactive {
  color: #333333;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -khtml-border-radius:2px;
  border-radius:2px;
}

ul.ui-inputPages li.ui-inputPagesButton-first-active,
ul.ui-inputPages li.ui-inputPagesButton-previous-active,
ul.ui-inputPages li.ui-inputPagesButton-next-active,
ul.ui-inputPages li.ui-inputPagesButton-last-active,
ul.ui-inputPages li.ui-inputPagesButton-active {
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -khtml-border-radius:2px;
  border-radius:2px;
  color: #005e89;
  cursor:pointer;
}
ul.ui-inputPages li.ui-inputPagesButton-first-active:hover,
ul.ui-inputPages li.ui-inputPagesButton-previous-active:hover,
ul.ui-inputPages li.ui-inputPagesButton-next-active:hover,
ul.ui-inputPages li.ui-inputPagesButton-last-active:hover,
ul.ui-inputPages li.ui-inputPagesButton-active:hover {
  background-color: #999999;
  color: #d54e21;
}

ul.ui-inputPages li.ui-inputPagesButton-first-active,
ul.ui-inputPages li.ui-inputPagesButton-previous-active,
ul.ui-inputPages li.ui-inputPagesButton-next-active,
ul.ui-inputPages li.ui-inputPagesButton-last-active,
ul.ui-inputPages li.ui-inputPagesButton-first-inactive,
ul.ui-inputPages li.ui-inputPagesButton-previous-inactive,
ul.ui-inputPages li.ui-inputPagesButton-next-inactive,
ul.ui-inputPages li.ui-inputPagesButton-last-inactive {
  background-image:url(./../icons/buttons.png);
  background-repeat:no-repeat;
}

ul.ui-inputPages li.ui-inputPagesButton-first-active {
  background-position:-75px -90px;
}
ul.ui-inputPages li.ui-inputPagesButton-previous-active {
  background-position:-45px -90px;
}
ul.ui-inputPages li.ui-inputPagesButton-next-active {
  background-position:-60px -90px;
}
ul.ui-inputPages li.ui-inputPagesButton-last-active {
  background-position:-90px -90px;
}


ul.ui-inputPages li.ui-inputPagesButton-first-active:hover {
  background-position:-75px -105px;
}
ul.ui-inputPages li.ui-inputPagesButton-previous-active:hover {
  background-position:-45px -105px;
}
ul.ui-inputPages li.ui-inputPagesButton-next-active:hover {
  background-position:-60px -105px;
}
ul.ui-inputPages li.ui-inputPagesButton-last-active:hover {
  background-position:-90px -105px;
}


ul.ui-inputPages li.ui-inputPagesButton-first-inactive {
  background-position:-75px -30px;
}
ul.ui-inputPages li.ui-inputPagesButton-previous-inactive {
  background-position:-45px -30px;
}
ul.ui-inputPages li.ui-inputPagesButton-next-inactive {
  background-position:-60px -30px;
}
ul.ui-inputPages li.ui-inputPagesButton-last-inactive {
  background-position:-90px -30px;
}



ul.ui-inputPages li.ui-inputPagesButton-selected {
  background: #999999;
  color: #666666;
  border-radius:2px;
  cursor:pointer;
  font-weight:bold;
}
ul.ui-inputPages li.ui-inputPagesButton-selected {
  background: #999999;
  color: #005e89;
}