

/* clear css */


.ui-tag-selector-list, .ui-tag-selector-input {
  background:#DDDDDD;
  border:1px solid #999999;
  color:#666666;
}

.ui-tag-selector-text {
  font-style:italic;
  font-size:80%;
  border-top:1px dotted #999999;
  background:#DDDDDD;
  color:#666666;
}

li.ui-tag-selector-list-item:hover {
  background:#AAAAAA;
  color:#DDDDDD;
  cursor:pointer;
}

.ui-tag-selector-selected-tag-list li.ui-tag-selector-selected-tag {
  background:#999999;
  color:#DDDDDD;
  margin-top:1px;
  padding-top:1px;
}

.ui-tag-selector-highlight {
  color:#005E89;
  font-weight:bold;
  background:#999999;
}
