/* for inputPages plugin */

ul.ui-inputPages {
  width:100%;
  margin: 0;
  padding: 0;
}

ul.ui-inputPages li {
  display: inline-block;
  height: 15px;
  list-style: none outside none;
  margin: 1px;
  padding: 0px;
  text-align: center;
  min-width: 15px;
  cursor:default;
}
