/* for inputConsole plugin */
.ui-inputConsole {
  padding:0px;
}
.ui-inputConsole-input {
  width:100%;
}
.ui-inputConsole-prompt {
  display:inline-block;
  margin:0;
  padding:0 4px;
}
.ui-inputConsole input[type='text'] {
  border:none;
  background:transparent;
  display:inline-block;
  padding-right:2px;
  font-family:monospace;
}
.ui-inputConsole-history ul {
  margin:0px;
  padding:0 0 0 20px;
}
.ui-inputConsole-history ul li {
  font-family:monospace;
}
.ui-inputConsole-history {
  border:1px solid;
  border-bottom:1px dotted;
  position:absolute;
  z-index:1000;
}
span.ui-inputConsole-historyResult {
  display:block;
  margin-left:15px;
  font-style:italic;
}
.ui-inputConsole-historyBg {
  position:absolute;
  width:100%;
  height:100%;
  z-index:-1;
  opacity:0.85;
  filter:alpha(opacity:85);
}
.ui-inputConsole-historyListContainer {
  width:100%;
  height:100%;
  position:absolute;
  overflow:auto;
  z-index:-1;
}
