/* for progressArea plugin */

.ui-progressArea-globalText,
.ui-progressArea-detailText {
  padding-top:8px;
}

.ui-progressArea-globalBar,
.ui-progressArea-detailBar {
  border:1px solid #666666;
}

.ui-progressArea-globalBarText,
.ui-progressArea-detailBarText {
  color:#005e89;
}

.ui-progressArea-globalBarProgress,
.ui-progressArea-detailBarProgress {
  background:#999999;
}

.ui-progressArea-workInProgress {
  background:url("./../icons/processing.gif") no-repeat scroll 0 8px transparent;
}


/* dialog box */
.ui-dialogProgressArea {
  color:#666666;
  background:#DDDDDD;
  border:1px solid #999999;
}
.ui-dialogProgressArea div.ui-dialog-titlebar {
  background:#999999;
  color:#444444; /* #666666 is too light... */
}
.ui-dialogProgressArea div.ui-dialog-buttonpane button {
  background:none repeat scroll 0 0 #999999;
  border-color:#DDDDDD #666666 #666666 #DDDDDD;
  color:#005E89;
}
.ui-dialogProgressArea div.ui-dialog-buttonpane button:active {
  border-color:#666666 #DDDDDD #DDDDDD #666666;
}
